			

<div class="navbar-fixed-top">
			<div class="jumbotron banner" href="menu.html" id = "StoryBanner"><h1>StoryShare</h1></div>
			

				<nav class="navbar navbar-default navbar-collapse" role="navigation">
		  				<div class="container-fluid">  
		  					<div class="navbar-collapse no-border">
		      					<ul class="inline nav navbar-nav navbar-left">
		      						<li class="dropdown">
          								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-align-justify"></span></a>

         								<ul class="dropdown-menu">
            								<li><a href="/about">About</a></li>
            								<li><a href="/">Collaborate</a></li>
            								<li><a href="/">Archive</a></li>
            								<li><a href="../placeholders/AddStory.html">New</a></li>
            								<li><a href="/help">Help</a></li>
          								</ul>
        							</li>

        							<form class="inline no-border navbar-form" role="search">
		        						<div class="inline form-group">
		          							<input type="text" class="form-control searchbar">
		        						</div>
		        						<button type="submit" class="inline btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
		        					</form>
		      					</ul>

		      					<ul class="inline nav navbar-nav navbar-right">
		       						<li class="inline"><a href="/"><span class="glyphicon glyphicon-pencil"></span></a></li>
		        					<li class="inline"><a href="/"><span class="glyphicon glyphicon-book"></span></a></li>
		        					<li class="inline"><a href="../placeholders/AddStory.html"><span class="glyphicon glyphicon-plus"></span></a></li>

		      					</ul>
		      		
		    	  		</div><!-- /.navbar-collapse -->
		  			</div><!-- /.container-fluid -->
				</nav>

</div>