<div class="navbar-fixed-top">
	<nav class="navbar navbar-default navbar-collapse" role="navigation">
		  				<div class="container-fluid">  
		  					<div class="navbar-collapse">
		      					<ul class="inline nav navbar-nav navbar-left">
		      						<li class="inline dropdown">
          								<a href="#" class="dropdown-toggle inline" data-toggle="dropdown"><span class="glyphicon glyphicon-align-justify"></span></a>

         								<ul class="dropdown-menu">
            								<li><a href="/about">About StoryShare</a></li>
            								<li><a href="/main">Stories in Progress</a></li>
            								<li><a href="/archive">Finished Stories</a></li>
            								<li><a href="/new">Add a New Story</a></li>
            								<li><a href="/help">Help</a></li>
          								</ul>
        							</li>


		      					</ul>

		      					<ul class="inline nav navbar-nav navbar-right">
		       						<!--<li class="inline"><a href="/main"><span class="glyphicon glyphicon-pencil"></span></a></li>
		        					<li class="inline"><a href="/archive"><span class="glyphicon glyphicon-book"></span></a></li>-->
		        					<li class="inline"><a href="/new"><span class="glyphicon glyphicon-plus"></span></a></li>

		      					</ul>
		      		
		    	  		</div><!-- /.navbar-collapse -->
		  			</div><!-- /.container-fluid -->
				</nav>			
</div>