<html>
	<head>
		<title>About Spark</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min.js"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	</head>
	<body>

		 {{> banner}}


		<div class="container"> 	
				<h2><b>Together, we kindle creativity.</b></h2>

				<br>

					<p>The Great American Writer is a lie. The best ideas don't happen behind closed doors, incubated by a lone genius. Many minds are more creative than one. 

				<br><br>

					Inspired by human experiences like passing notes or telling stories around a campfire, Spark leverages the power of collaboration and constraint. It cultivates the optimal environment for one idea to ignite many more. Because each story belongs to everyone, rather than a single creator, Spark helps writers break free from their mental constraints. 

				<br><br>

					Spark began as a project by Helen Anderson, Maggie Goulder, and Sam Gussman for CS147 (Introduction to Human-Computer Interaction) at Stanford University. Originally called "StoryShare", Spark is now being developed by Helen Anderson. It is a work in progress: check back often as new features (such as a choose-your-own-adventure-style voting system) get implemented. 

<br><br>

					Optimized for mobile, Spark is designed to look great on your smartphone. Whether you're new to writing, an accomplished novelist, or someone just looking to have fun, Spark is a creative outlet you can carry with you wherever you go.

					</p>
		</div>
				
<!-- 		<div class="span7 text-center">
			<div>
					<a href="/main" class="btn btn-primary btn-lg active start-button" role="button" id = "addToStory">Add to a Story</a><span><a href="/new" class="btn btn-primary btn-lg active start-button" role="button" id = "startNewStory">Start a New Story</a></span>
			</div>
		</div>
 -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/storyshare.js"></script>



	</body>
</html>