<html>
	<head>
		<title>About Spark</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min.js"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	</head>
	<body>

		 {{> banner}}


		<div class="container"> 	
				<h2><b>About Spark</b></h2><br>
					<p>	
					StoryShare was created by Helen Anderson, Maggie Goulder, and Sam Gussman for a CS147 class project at Stanford University.  Inspired by collaborative writing projects such as NaNoWriMo and the One Sentence Project, StoryShare unites writers of all experience levels to share ideas and inspiration.  Acting like a virtual graffiti wall, StoryShare brings people together to each contribute a piece to a larger work of art.  By alleviating some of the pressure of solo writing, StoryShare helps writers break free of their mental constraints, allowing ideas to flow freely.  Whether you're new to writing, an accomplished novelist, or someone just looking to have fun, StoryShare provides the perfect creative outlet wherever you go.</p>
				<br>
		</div>
				
<!-- 		<div class="span7 text-center">
			<div>
					<a href="/main" class="btn btn-primary btn-lg active start-button" role="button" id = "addToStory">Add to a Story</a><span><a href="/new" class="btn btn-primary btn-lg active start-button" role="button" id = "startNewStory">Start a New Story</a></span>
			</div>
		</div>
 -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/storyshare.js"></script>



	</body>
</html>