<html>
	<head>
		<title>About</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min.js"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
		<script src="HTMLImports/html-imports.js"></script>
	</head>

	<body>

		 {{> banner}}

		<div class = container>
				<p><font size="5">Say goodbye to writer's block</font></p>
				<p><font size="2">StoryShare allows you to collaborate with others to write stories, share ideas, and spark creativity, so you can finally get over that writer's block.  

				Invent a new story and watch it take form.  Shape the course of an existing story.  Browse finished stories to gather ideas and inspiration. </font><font size="4">Discover a new way of telling stories.</font>  </p>
				<br>
				<br>
				

		</div>
		<div class="span7 text-center">
			<div>
			<a href="/main" class="btn btn-primary btn-lg active" role="button">Start Writing!</a>
			</div>
		</div>

		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/mainpage.js"></script>
		<script src="../js/bootstrap.min.js"></script>
	
		
	</body>
</html>