<html>
	<head>
		<title>About</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
		<script src="HTMLImports/html-imports.js"></script>
	</head>

	<body>

		 {{> banner}}

		<div class = container>
				<p><font size="7">Say goodbye to writer's block</font></p><br>
				<p>StoryShare allows you to collaborate with others write stories, share ideas, and spark creativity, so you can finally get over that writer's block.  By leveraging the power of many, you will have access to a whole realm of ideas that you may have never thought of on your own.  Collaboration is the key to creativity.

				Invent a new story and watch it take form.  Add your words to shape the course of an existing story.  Browse finished stories to gather ideas and inspiration. <font size="5">Discover a new way of telling stories.</font>  </p>
				<br>
				<br>

		</div>
		<div class="span7 text-center">
			<div>
			<a href="/" class="btn btn-primary btn-lg active" role="button">Start Writing!</a>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="../js/storyshare.js"></script>
		
	</body>
</html>