<html>
	<head>
		<title>Archive</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
		<script src="HTMLImports/html-imports.js"></script>
	</head>
	</head>

	<body>


	{{> banner}}

	<div class = container>
				<p><font size="7">Finished Stories</font></p>
	</div>
	<div class="container">



		
<!-- iterates through the stories passed in from the database and renders their thumbnails. -->
<!-- Graham said not to use A-tags for linking, but I can't make this work without one. I guess that's that... --> 
<!--
		{{#each story}} 
			<div class="story" id="{{id}}">
				<a href="/story/{{id}}"><h><img class="thumb" src="images/A.png">

				<div class="titleprog">
					<span style="overflow:hidden" class="storytitle">{{title}}</span></h>
				</div>
			</div></a>
		{{/each}}

	-->
	
		</div>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/mainpage.js"></script>
	</body>
</html>