<html>
	<head>
		<title>Help</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
		<script src="HTMLImports/html-imports.js"></script>
	</head>
	<body>

		 {{> banner}}

<!--
		<div id="banner">
				
		<script> $("#banner").load("../placeholders/banner.html"); </script>
	-->
		<div class="container"> 
			
				
				<h2><b>FAQ</b></h2>
				<p><font size="2">Frequently Asked Questions</font></p>
				<br>
				<h4>Why can't I add to a story twice?</h4>
				<p>Collaboration is the key to creativity.  That's why StoryShare only allows each user to contribute once to any particular story. </p>
				<br>
				<h4>How can I find a story I've already added to?</h4>
				<p>The search bar at the top of the page allows you to search for individual stories by title.</p>
				<br>
				<h4>Why can't I add to stories listed in the Story Archive?</h4>
				<p>StoryShare has a ten sentence limit for each story.  Once a story reaches ten sentences long, it can no longer be added to. But you can still read and enjoy it!</p>
				<br>
				</div>
				


		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>

	</body>
</html>