<html>
	<head>
		<title>Help</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min.js"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	</head>
	<body>

		 {{> banner}}


		<div class="container"> 
			
				
				<h2><b>FAQ</b></h2>

				<br>
				<p><b>I added to a story, but now it's no longer listed under "Stories in Progress". What happened?!?</b></p>
				<p>Once a story reaches 10 contributions, it is considered finished. It is then saved in the Story Archive, which can be found by clicking the menu icon and selecting "Finished Stories".</p>
				<br>
				<p><b>Why can't I add to stories listed in the Story Archive?</b></p>
				<p>Spark has a ten-contribution limit for each story. Once ten people add to a story, it can no longer be added to. But you can still read and enjoy it!</p>
				<br>
				<p><b>Where can I find a story I already contributed to?</b></p>
				<p>All stories in progress are listed on the "Stories in Progress" page, which can be found by clicking the menu icon.</p>
				<br>
				<p><b>What if I want to edit something someone else wrote?</b></p>
				<p>You can't! That's the beauty of collaboration.</p>
				<br>
				<p><b>What if I want to edit something I already wrote?</b></p>
				<p>You can't! The purpose of Spark is not to "get it right", but instead to encourage writers to express whatever ideas come to mind without the pressure of perfection.</p>
				<br>
				<p><b>What are the icons next to the stories for?</b></p>
				<p>These icons represent the number of times the story has been contributed to. The fuller the box, the more times the story has been added to.  Once a box fills entirely (a story reaches 10 contributions), the story will be moved into the archive, which can be found by clicking the menu icon and selecting "Finished Stories".</p>

			</div>
		</div>
<!-- 		<div class="span7 text-center">
			<div>
					<a href="/main" class="btn btn-primary btn-lg active start-button" role="button" id = "addToStory">Add to a Story</a><span><a href="/new" class="btn btn-primary btn-lg active start-button" role="button" id = "startNewStory">Start a New Story</a></span>
			</div>
		</div> -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/storyshare.js"></script>


	</body>
</html>