<html>
	<head>
		<title>Main-Page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min.js"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
		<script src="HTMLImports/html-imports.js"></script>
	</head>
	</head>

	<body>


	{{> banner}}

	<div class = container>
				<p><font size="5">Collaborate</font><br>
				<font size="2">Click on a story to add to it</font></p><br>
	</div>
	<div class="container">x




<!-- iterates through the stories passed in from the database and renders their thumbnails. -->
<!-- Graham said not to use A-tags for linking, but I can't make this work without one. I guess that's that... -->
		{{#each story}} 
			{{#unless finished}}
			<div class="story" id="{{id}}">
				<span class="col-xs-3 col-sm-1 thumbicon"><a href="/story/{{id}}"><h><img class="thumb" src="images/A.png"></span>


				<span class= "col-xs-9 col-sm-11 titleprog">
					<span class="storytitle">{{title}}</span>
					<div align = "justify"><font size = "2" color = "white">Contributors: </font><font size = "4" color = "white">{{sentences}}</font></h></div>
				</span>
			</div></a>
			{{/unless}}
		{{/each}}
	
		</div>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/mainpage.js"></script>
		<script src="../js/bootstrap.min.js"></script>

		<!--This is the Google Analytics code-->
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48656519-1', { 'storyshare.herokuapp.com' });
  ga('send', 'pageview');

</script>
	</body>
</html>