<html>
	<head>
		<title>Main-Page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
	</head>
	</head>

	<body>

	{{> banner}}
	<div class="container">
		{{#each story}}
			<div class="story" id="sample">
				<a href="/story/{{title}}"><h><img class="thumb img-rounded" src="images/W.jpg">
				<div class="titleprog">
					<span style="overflow:hidden">{{title}}</span></h></a>
				</div>
			</div>
		{{/each}}
	
		</div>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/storyshare.js"></script>
	</body>
</html>