
<html>
	<head>
		<title>New Story</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min.js"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
		<script src="HTMLImports/html-imports.js"></script>
	</head>
	<body>
	<div class="span7 text-center"><p>
		<font size="5">Create a New Story!</font></p>
	</div>

			{{> banner}}
<div class="container">
<!-- 			This is the form for entering information. -->
			<form id = "addStoryForm" method = "post" action = "/story">
				<div class="form-group">
	 				<label for ="title" class = "form-label">Story Title: </label>
					<input type="text" class="form-control" id="title" name = "title" placeholder="Story Title"> <!--'id' is for css formatting, 'name' is for getting info from the form. DON'T CHANGE THE NAME! -->
				</div>
				<div class="form-group">
	 				<label for="sentence1" class = "form-label">First Sentence (Optional): </label>
					<textarea class="form-control" id="sentence1" name = "sentence1" maxlength='150' placeholder="This is the first line of the story."></textarea> <!--'id' is for css formatting, 'name' is for getting info from the form. DON'T CHANGE THE NAME! -->
				<span class='count'></span>
				</div>
				<a><button id = "submitBtn" type="submit"><font size="5">Add Story</font></button></a>
				<a href="/"><button type="button"><font size="5">Cancel</font></button></a>
			</form>
		</div>
		<script src="../js/jquery.charactercounter.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/addStory.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>