.banner{
     /*position:relative;
     width: 480px; */
     height: 120px; 
     background-image: url("../images/linedpaper.jpg");
     background-size: cover;
     margin-bottom: 0px;
}

h1 {  
     font-family: 'Mrs Sheppards', cursive;
     text-align: center;
     font-size: 50px;
}

.menuPageLine {
     font-size: 40px;
     color: white;
     text-align: left;
}

.count {
    color: white;
}

.form-label{
    color:white;
    font-weight: lighter;
}


.storytitle {
    font-size: 18px;
}

.titleprog {
     display: inline-block;
}

.menu {
     width: 480px;
}

.thumb {
     width: 50px;
     height: 50px;
     margin-bottom: 20px;
}

.percentcomplete {
     width: 350px;
}

/*
.jumbotron {
     position: relative;
     background: none;
     text-align: center;
     color: #323232;
     padding: 55px;
     margin-bottom: 0px;
}

.jumbotron:after {
     content:"";
     background-image: url(images/lined_paper_by_LL_stock.jpg);
     opacity: 1;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
}

.btn-group {
     padding-top: 40px;
     text-align: center;
}

button {
     background: transparent;
     border-width: 20px;
     border: 20px;
     border-color: #323232;
}

#writeread {
     border: 40px;
     border-color: black;
     font-family: 'Raleway', sans-serif;
     font-size: 50px;
}

h1 {
     font-family: 'Mrs Sheppards', cursive;
     font-size: 80px;
}

body {
     background-color: #323232;
}*/


.nav-link:link
{
   color: #323232;
   text-decoration: none;
}
.nav-link:visited
{
   color: #323232;
   text-decoration: none;
}
.nav-link:hover
{
   color: #323232;
   text-decoration: none;
}
.nav-link:active
{
   color: #323232;
   text-decoration: none;
}

.navbar li {
    /* display: inline-block; */
}

.inline {
     display: inline-block;
}

.no-border {
     border-top: 0px;
     border-bottom: 0px;
}

.margins-nav {
     margin-left: 50px;
     margin-top: 7.5px;
     margin-bottom: 7.5px;
}

.height-nav {
     height: 40px;
}

.searchbar {
     width: 100%;
}

.navbar ul {
    /* display: inline-block; */
}


body {
     background-color: #323232;
     padding-top: 200px;
     padding-bottom: 50px;
} 

h2 {
     color: white;
     font-weight: bold;
}

h3 {
     color: white;
}

h4 {
     color: white;
}

p {
     color: white;
}

.smallscreen {
    min-width: 0px;
}