h1 {  
     font-family: 'Cedarville Cursive', cursive;
     color: #E62E00;
     text-align: center;
     font-size: 60px;
     margin-top: 60px;
     line-height: 1.25;   
}


h2 {
     color: white;
     font-family: 'Raleway', sans-serif;
     font-weight: bold;
     font-size: 20px;
     font-weight: bold;
}


h3 {
    color: #E62E00;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 24px;
    margin: 7px;
    font-weight: 500;
}


p {
     color: white;
     font-family: 'Raleway', sans-serif;
     font-size: 15px;
     line-height: 150%;
}


a {
    color: #66CCFF;
}


a:hover {
    text-decoration: none;
}


body {
    margin-top: 64px;
    margin-bottom: 20px;
    background-image: url("../images/Dark-Blue-Starry-Sky.jpg");
    background-size: cover;
} 


.vote-button {
    border-color: #66CCFF;
    border-width: 2px;
    border-radius: 0px;
    white-space: normal;
   
    /*width: 230px; */
}


#top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#bottom {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.vote-button:hover {
    border-color: #66CCFF;
    background-color: #E62E00;
    
}

p.vote-button:hover {
    color: #66CCFF;
}


.vote-button.active {
    border-color: #66CCFF;
    background-color: #E62E00;
    
}

p.vote-button.active {
    color: #66CCFF;
}


.start-button {
    margin: 5px;
    border-color: #E62E00;
    border-width: 2px;
    /*width: 230px; */
}


.start-button:hover {
    border-color: #66CCFF;
}


.start-button:hover h3 {
    color: #66CCFF;
}


.helpLink p {
    text-align: center;
    color: #66CCFF;
}


.landing-page {
    background-image: url("../images/Dark-Blue-Starry-Sky.jpg");
    background-size: cover;
    margin-top: 0px;
}


.navbartitle {
    font-family: 'Cedarville Cursive', cursive;
    color: #E62E00;
    text-align: center;
    font-size: 32px;
    font-weight: 800px;
    margin-bottom: 0px;
    margin-top: 10px; 
}


.menuglyph {
    font-size: 20px;
}


.sparknav {
    /*background-image: url("../images/Dark-Blue-Starry-Sky.jpg");
    background-size: cover;*/
    background-color: #EBC633;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #E62E00;
    border-radius: 0px;
}


.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav .open > a:active {
    background-color: transparent;
}


.nav > li > a:hover, .nav > li > a:focus  {
    background-color: transparent;
}


.menunav {
    margin-top: 2px;
    color: #E62E00;
}


.nav-link:link
{
   text-decoration: none;
   color: #E62E00;
}

.nav-link:visited
{
   text-decoration: none;
   color: #E62E00;
}

.nav-link:hover
{
   text-decoration: none;
   color: #66CCFF;
}

.nav-link:active
{
   text-decoration: none;
   color: #E62E00;
}



.form-label{
    color:white;
    font-weight: lighter;
}

.thumbicon {
    height: 70px;

}



.thumb {
     width: 50px;
     height: 50px;
     margin-top: 10px;
     margin-bottom: 10px;
}


.storythumb {
    width: 70px;
    height: 70px;
}

.titleprog {
     display: inline-block;
     overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    height: 70px;
    text-align: left;

    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

.story {
    max-width: 100%;
    height: 70px;

    /*
    border-left: 4px;
    border-right: 4px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #E62E00;
    */
}


.form-label{
    color:white;
    font-weight: lighter;
}


.storytitle {
    font-size: 18px;
    max-width: 100%;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-family: 'Raleway', sans-serif;  
    color: #66CCFf;
}

.storypreview {
    color: white;
    font-size: 14px;
    max-width: 100%;
    overflow:hidden;
    white-space:nowrap;
    font-family: 'Raleway', sans-serif;
    text-overflow:ellipsis;
}

.thumbicon {
    height: 70px;
}


.storypagetitle {
    white-space:nowrap;
    margin-left: 10px;
    font-size: 18px;
    max-width: 100%;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-family: 'Raleway', sans-serif;  
    color: white;
    font-weight: bold;
}


.story-add-field {
    rows: "3";
    cols: "50";
}

.count {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: white;
}


.btn-group {
     padding-top: 40px;
     text-align: center;
}

button {
     background: transparent;
     border-width: 20px;
     border: 20px;
     border-color: #323232;
}










.inline {
     display: inline-block;
}

.no-border {
     border-top: 0px;
     border-bottom: 0px;
}

.margins-nav {
     margin-left: 50px;
     margin-top: 7.5px;
     margin-bottom: 7.5px;
}

.height-nav {
     height: 40px;
}
















.smallscreen {
    min-width: 0px;
}





@media all and (max-width: 480px)  {
    .half {
        float: left !important;
        
    }
}