.banner{
     position:relative;
     width: 480px;
     height: 120px;
     background-image: url("file:../images/jumbotron.image.jpg");
     padding-top: 20px;
}
.banner:after{
     content:"Story Share";
     font-size: 60px;
     font-family: cursive;
}
/*s
.jumbotron {
	position: relative;
	background: none;
     text-align: center;
     color: #323232;
     padding: 55px;
     margin-bottom: 0px;
}

.jumbotron:after {
     content:"";
     background-image: url(images/lined_paper_by_LL_stock.jpg);
     opacity: 1;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.btn-group {
     padding-top: 40px;
     text-align: center;
}

button {
     background: transparent;
     border-width: 20px;
     border: 20px;
     border-color: #323232;
}

#writeread {
     border: 40px;
     border-color: black;
     font-family: 'Raleway', sans-serif;
     font-size: 50px;
}

h1 {
     font-family: 'Mrs Sheppards', cursive;
     font-size: 80px;
}

body {
     background-color: #323232;
}*/